{% extends 'layouts/base.twig' %}

{% block content %}
	<div class="front-page-content-wrapper">


		{% set contents = post.get_field('section') %}
		
		{% for content in contents %}
			<div class="section {{ content.custom_class}} {% if content.is_full_width == true %}full-width{% endif%}">
				<div class="container">	
					<div class="row">	
					{% for column in content.column  %}
						<div class="{{ column.custom_class}}">	
							{% for component in column.component %}
								{% include 'components/' ~ component.acf_fc_layout ~ '.twig' with {'component': component} %}
							{% endfor %}
						</div>
					{% endfor %}
					</div>
				</div>
			</div>		
		{% endfor %}
	</div>

{% endblock %}

{% block prefooter %}

{% endblock %}



