{% extends 'layouts/base.twig' %}

{% block banner %}

<div class="banner banner-narrow banner-right" >
	<div class="banner-container" >
		<div class="banner-inner" >
			<div class="banner-content banner-content-middle" >
				<div class="building-banner-wrapper">
					<div class="container">
						<div class="section-wrapper">
							<div class="banner-text">
								<div class="building_precinct yellow">{{post.category[0].name}}</div>
								<h1 class="building-title">{{ post.title }}</h1>
							</div> 
						</div>
					</div>
					<div class="banner-image">
						<div class="slide-wrapper" {% if Image(post.thumbnail).src %}style="background-image:url('{{ Image(post.thumbnail).src('large') }}');"{% endif %}>
							{% if Image(post.thumbnail).post_content %}
								<div class="image-credit">{{ Image(post.thumbnail).post_content }}</div>
							{% elseif Image(post.thumbnail).caption %}
								<div class="image-credit">{{ Image(post.thumbnail).caption }}</div>
							{% endif %}
						</div>
						
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<!-- content -->
<!-- ./content -->
{% endblock %}