{% extends 'layouts/base.twig' %}

{% block banner %}

<div class="banner banner-narrow banner-right" >
	<div class="banner-container" >
		<div class="banner-inner" >
			<div class="banner-content banner-content-middle" >
				<div class="building-banner-wrapper">
					<div class="container">
						<div class="section-wrapper">
							<div class="banner-text">
								<div class="building_id">{{ "%02d"|format(post.building_no) }}</div>
								<h1 class="building-title">{{ post.title }}</h1>
								<div class="building_precinct">{{post.building_precinct[0].name}}</div>
							</div> 
						</div>
					</div>
					<div class="slider">
					{% if post.images[0] %}
						{% for image in post.images %}
							<div class="slide-wrapper" style="background-image: url('{{ Image(image).src('large') }}');">
								{% if image.post_content %}
									<div class="image-credit">{{ image.post_content }}</div>
								{% elseif Image(image).caption %}
									<div class="image-credit">{{ Image(image).caption }}</div>
								{% endif %}
							</div>
						{% endfor%}

					{% else %}
						<div class="slide-wrapper" style="background-image: url('{{assets}}/images/no-image.png');"></div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
	{% include 'partials/building.twig' %}
{% endblock %}