.bootstrap-select {
	&, &.open{
		width: 30% !important;
		margin-right: 15px;
		@include font-heading-semibold;
		font-size: 18px;
		.dropdown-toggle{
			border: 0;
			border-radius: 0;
	   	 	border-bottom: 2px solid $color-yellow;
	   	 	font-size: 18px;
		    text-transform: uppercase;
		    letter-spacing: .075em;
		    font-weight: 600;
		    padding: 0;
		    background-color: transparent;
		    box-shadow: none !important;
		    &:hover{
		    	background-color: transparent;
		    }
			&:focus{
				outline: 0px auto $color-yellow !important;
			}
			.caret{
				width: 20px;
			    height: 20px;
			    top: 0;
			    border: none;
	    		&:before{
					content: "\71";
					@include icon-font;
					font-size: 14px;
				    top: 5px;
				    color: #444;
				    display: block;
				    position: absolute;
				    right: 0;
	    		}
			}
			.filter-option-inner-inner{
				margin-right: 35px;
			}
		}
		.dropdown-menu {
			padding: 0 ;
			li{
				a{
					font-size: 18px;
					text-transform: uppercase;
				    letter-spacing: .075em;
				    font-weight: 600;
				   
				}
				&.active{
					a {
						background-color: $color-yellow;
					}
				}
				&::before{
					display: none;
				}
			}
		}
	}
}
