/*.justify-content-between{
	justify-content: space-between;
}

.align-items-center{
	align-items: center;
}*/

@mixin display-flex{
	display: flex;
}

.display-flex{
	@include display-flex;
}

.container{
	.full-width > &{
		max-width: none;
		padding-left: 0;
		padding-right:0;
	}
	.padding-bottom-60 > &{
		padding-bottom: 60px;
	} 
	.padding-bottom-30 > &{
		padding-bottom: 30px;
	} 
	.padding-top-bottom-30 > &{
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.padding-top-bottom-60 > &{
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.bottom-border > &{
		border-bottom: 1px solid $color-border;
	}

	.align-items-center > & > .row{
		align-items: center!important;
	}

}

.with-background-grey{
	background-color: #f3f3f3;
}

.post-excerpt-wrapper{
	.readmore{
		display: block;
		color: $color-primary !important;
		margin-top: 30px;
	}
}

.thumbnail{
    cursor: pointer;
    img{
         width: 100%;
    }
    &.youtube:before{
        content: url('../images/play-button.svg');
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

}
.modal-video{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    z-index: 1;
    &.active{
        display: block;
    }
    .video-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 600px;
        width: 100%;
        .modal-close{
            width: 50px;
            height: 50px;
            position: absolute;
            top: -60px;
            right: 0;
            content: "x";
            color: $color-white;
            line-height: 50px;
            font-size: 40px;
            text-align: center;
            cursor: pointer;
        }
        iframe{
            width: 100%;
        }
    }
}
.slider-latest-news {
	.latest-item-wrapper{
		padding-right: 30px;
		.published-date{
		    width: fit-content;
		    background-color: $color-primary;
		    padding: 10px;
		    color: white;
		    font-size: 1.5em;
		    line-height: 1em;
		    display: inline-table;
		   	margin-right: 10px;
		   	margin-bottom: 15px;
		   	@include font-heading-bold;
		   	text-align: center;
		}
		h4{
			display: inline-block;
		}
		.readmore{
			color: $color-primary !important;
			display: block;
			margin-top: 15px;
		}
		
	}

	.slick-dots{
		top: 0;
    	right: 0;
	    bottom: initial;
	    transition: none;
	    left: initial;
	}
}
.story{
	img{
		position: absolute;
	    width: 30%;
	    border-radius: 50%;
	    overflow: hidden;
	    max-width: 150px;
	}
	.story-content{
		padding-left: 33%;
	}
}
.sponsor-item-wrapper{
	a{
		display: block;
		img{
			margin:0 auto;
			display: block;
		}
	}
}
@include breakpoint-lt('md') {
	.section{	
		& > .container > .row > div{
			margin-bottom: 15px;
		}
	}
	.component > .row > div{
			margin-bottom: 15px;
	}
	.gform_wrapper{
		padding: 0 !important;
	}
	
	.stories-wrapper{
		h3{
			text-align: center;
		}
		.story{
			img{
				position: relative;
			    width: 100%;
			    margin: 0 auto;
			    display: block;
			}
			.story-content{
				padding: 15px 45px;
    			text-align: center;
			}
		}
	}
}