/* CSS Document */



img {
	max-width: 100%;
}

.image-credit {
	position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    background-color: $color-grey;
    color: #eee;
    padding: 5px 15px;
    font-size: 12px;
    @include font-heading-bold;
}