/* Load more - used on events and news pagest */

.load-more {
	position: relative;
	margin-bottom: 40px;
	span {
		border: 1px solid $color-dark-grey;
		display: inline-block;
		font-size: 20px;
		cursor: pointer;
		@include font-heading-semibold;
		background-color: $color-white;
		text-transform: uppercase;
		padding: 8px 15px; 
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	&::before {
		content: '';
		width: 100%;
		display: block;
		border-bottom: 1px solid $color-dark-grey; 
		top: 50%;
		position: absolute;
	}
	&.all-loaded {
		height: 48px; 
		span { display: none; }
	}
}
