/* CSS Document */

body.modal-open {
	height: 100vh;
	overflow: hidden;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: auto;
	background: rgba(32,32,32,0.95);
	
	.modal-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	
	.boh-modal {
		position: absolute;
		width: 740px;
		top: 60px;
		left: 50%;
		margin-bottom: 60px;
		transform: translateX(-50%);
		background: $color-white;
		z-index: 2;
		
		&.narrow {
			width: 500px;
		}
		
		.modal-close {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			height: 48px;
			width: 48px;
			z-index: 2;
			
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 18px;
				height: 2px;
				background: $color-grey;
				transform-origin: center center;
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			
			&:hover {
				background: $color-yellow;
				&::before,
				&::after {
					background: $color-white;
				}
			}
		}
		
		.loader {
			display: none;
			height: 31px;
			padding: 40px;
			background: url('../images/ajax-loader.gif') center center no-repeat;
		}

		.content {
			position: relative;
			padding: 40px;
		}
	}
	
	&.loading {
		.boh-modal {
			.loader { display: block; }
			.content { display: none; }
		}
	}
	
	
	/*
	 * Mobile
	 */

	@include breakpoint-lt('sm') {
		.boh-modal {
			width: 100%;
			top: 0;
			border-radius: 0;
			padding: 0;
			margin-bottom: 0;
			
			.image {
				width: 100vw;
				height: 66.66vw;
				min-height: auto;
				.type-name {
					padding: 0 30px;
					line-height: 28px;
				}
			}
			.content {
				padding: 24px 20px 48px 20px;
				font-size: em(15px);
				.icon {
					position: static;
					display: block;
					text-align: center;
					margin-bottom: 10px;
				}
				h2 {
					font-size: em(18px);
				}
				.meta {
					margin: 20px 0;
				}
				.date span {
					display: block;
				}
			}
		}
	}
}

.modal-container .boh-modal .content.favorite-add {
	text-align: center;
	font-size: 16px;
	
	h2 {
		
		@include font-heading-semibold();
		font-size: 24px;
		letter-spacing: .075em;
		text-transform: uppercase;
		margin-bottom: 36px;
		.icon-tick {
			color: $color-yellow;
			margin-right: 8px;
			vertical-align: middle;
		}
	}
	
	p {
		margin: 0 auto 36px auto;
		max-width: 300px;
	}
	
	.button {
		display: inline-block;
		border: none;
		padding: 10px 20px;
		margin: 0 10px;
		@include font-heading-semibold();
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: .075em;
		background: $color-grey;
		color: #fff;
	}
}

