<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<span>Copyright ©  2014 Innovado Inc. | <a href="mailto:contact@innovado.com">contact@innovado.com</a></span>
			</div>
		</div>	
	</div>
</footer>
<div class="modal-video"><div class="video-wrapper"><div class="modal-close">x</div><div class="video-item-wrapper"></div></div></div>