{% if user %}
	<div class="section">
		<div class="container">
			<div class="section-wrapper">
				<p><center>You are already logged in.</center></p>
			</div>
		</div>
	</div>
{% else %}
	<div class="section user-login-form-wrapper">
		<div class="container">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="section-wrapper">
					{{ function('do_shortcode','[open_house_user_forms]') }}
				</div>
			</div>
		</div>
	</div>
{% endif%}