
	<div class="top-header">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="logo-wrapper col col-lg-3">
					<a href="/"><img src="{{assets}}/images/logo.png" alt="{{ site.name }}"></a>
				</div>
				<div class="social-wrapper col col-lg-4 align-items-center justify-content-end display-flex">
					<a class="social-item" href="http://facebook.com"><i class="fab fa-facebook"></i></a>
					<a class="social-item" href="http://twitter.com"><i class="fab fa-twitter"></i></a>
					<a class="btn-call-us" href="tel:000001"><i class="fas fa-phone"></i>Call Us Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="second-header">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="menu-wrapper col col-lg-8">
					<nav>
						{% for item in header_nav.get_items %}
							{% set item_classes = '' %}
						    {% if item.current %}
						    	{% set item_classes = 'active' %}
						    {% endif %}
							<li class="{{ item_classes }} {{ item.class }}">
								<a class="{{item.classes | join(' ')}}" href="{{item.get_link}}">{{item.title}}</a>
								 {% if item.get_children %}
								 	<div class="mobile-expander"></div>
					                <ul class="menu">
					                    {% for child in item.get_children %}
					                        <li class="{{ child.class }}"><a href="{{ child.link }}">{{ child.title }}</a></li>
					                    {% endfor %}
					                </ul>
					            {% endif %}
							</li>
						{% endfor %}
					</nav>
				</div>
				<div class="loginform-wrapper col col-lg-4">
					{{ function("wp_login_form", {echo:false, remember:true}) }}					
				</div>
			</div>
		</div>
	</div>
	<div class="menu-toggle"></div>

	<div class="user-login-toggle"></div>

</div>
