/* CSS Document */

body {
	font-size: 16px;
	font-family: 'PT_Sans';
	line-height: (24 / 16);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text-body;
    overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6{
	margin: 0;
	@include font-heading;
	line-height: 1.25em;
	margin-bottom: .25em;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: $color-grey;
	&:hover, &:visited, &:focus{
		color: $color-grey;
		text-decoration: none !important;
	}
}

/*
* {
	outline: 0px auto $color-yellow !important;
}
*/



@include breakpoint-lt('sm') {
	body {
		font-size: em(15px);
	}		
}
h3{
	@include font-heading-bold;
	color: $color-text-header;
	 margin-bottom: .75em;
}
h4{
	@include font-heading-bold;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.page-content-wrapper{
	a {
		color: $color-grey;
		text-decoration: underline;
		&:hover, &:visited, &:focus{
			color: $color-grey;
			text-decoration: underline;
		}
	}
	ul{
		padding-left: 0;
		margin-bottom: 20px;
		li{
			list-style: none;
			&:before{
				content: url('../images/icon-list.png');
				top: -3px;
				margin-right: 15px;
	 			position: relative;
		 	}
		}
	}
}

a{
	&:focus, &:hover{
		text-decoration: none;
		outline: 0;
	}
}

.readmore{
	@include readmore;
}