<div class="component latest-news-wrapper">
	<h3>News</h3>
	<div class="slider-latest-news">
		{% for news in latest_news %}
			<div class="latest-item-wrapper">
				<div class="published-date">
					<span>{{news.post_date | date("m")}}</span><br/><span>{{news.post_date | date("d")}}</span>
				</div>
				<h4>{{ news.post_title }}</h4>
				{{ news.post_content | wpautop | slice(0, 200)}}
				<a class="readmore" href="/{{ news.post_name }}">Read More</a>
			</div>
		{% endfor%}
	</div>
</div>
