<div class="component media-youtube-wrapper">
	<div class="thumbnail youtube" youtube-video="">
		<img class="img-fluid" src="{{ Image(component.thumbnail).src }}" alt="{{ Image(component.thumbnail).alt }}">
	</div>
	<div class="video-item" style="display: none;">{{component.youtube}}</div>
</div>
