<div class="component post-excerpt-wrapper">

	{% set post_excerpt = function('get_post', component.post) %}
	<h3>{{ post_excerpt.post_title }}</h3>
	{{ post_excerpt.post_content |length > 200 ? post_excerpt.post_content|slice(0, 200) ~ '...' : post_excerpt.post_content | wpautop }}
	<a class="readmore" href="/{{ post_excerpt.post_name }}">Read More</a>
</div>
