<div class="component slider-wrapper">
	<div class="slider slide-images slider-nav">	
	{% for slider_item in component.slider_item %}
		{% if slider_item.image %}
				<div class="slide-image" style="background-image: url({{  slider_item.image.url }});"></div>
		{% endif %}
	{% endfor %}
	</div>
		<div class="container">	
			<div class="row justify-content-between">	
				<div class="col-lg-7">
					<div class="slide-featured-contents-wrapper">	
					<div class="slider slide-featured-contents slider-for ">
					{% for slider_item in component.slider_item %}
						{% if slider_item.featured_content %}
							<div class="featured-content-wrapper">	
								<h2>{{ slider_item.featured_content.post_title }}</h2>
								<a class="readmore" href="/{{ slider_item.featured_content.slug }}">Read More</a>
							</div>
						{% endif %}
					{% endfor %}
					</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="slider-form-main-wrapper">
						<div class="slider-form-wrapper">{{ function("do_shortcode", component.form) }}</div>
					</div>
				</div>
			</div>	
		</div>	
</div>
