<div class="component sponsors-wrapper">
	<div class="row">
		{% for sponsor in component.sponsor_items %}
			<div class="col-sm-4 col-md-4 sponsor-item-wrapper">
				<a href="/{{ sponsor.link }}"><img src="{{ Image(sponsor.image).src}}"></a>
			</div>
		{% endfor%}
	</div>
</div>
