<div class="component stories-wrapper">
	<h3>Customer Stories</h3>

	<div class="story">
		<img src="{{ Image(component.image).src }}"/>
		<div class="story-content">{{ component.body | wpautop | slice(0, 200)}}</div>
	</div>
</div>
