/* CSS Document */
$color-red: #e8543c;
$color-violet: #6a3d6f;
$color-white: #fff;
$color-black: #000;
$color-yellow: #faa627;
$color-orange: #ed7e37;
$color-dark-grey: #333333;
$color-grey: #999999;
$color-light-grey: #ddd;
$color-lighter-grey: #aaa;
$color-lightest-grey: #efefef;



$background-color-footer: #eee;
$background-color-newsletter: #eea948;
$color-primary: $color-red;
$color-border: $color-light-grey;

$color-text-header: $color-dark-grey;
$color-text-body: $color-dark-grey;