/* Fonts */
@font-face {
    font-family: 'Pill Gothic 300mg';
    src: url('../fonts/Pill_Gothic_300mg/PillGothic300mg-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  
}
@font-face {
    font-family: 'Pill Gothic 300mg';
    src: url('../fonts/Pill_Gothic_300mg/PillGothic300mg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
	
}
@font-face {
    font-family: 'Pill Gothic 300mg';
    src: url('../fonts/Pill_Gothic_300mg/PillGothic300mg-Semibd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pill Gothic 300mg';
    src: url('../fonts/Pill_Gothic_300mg/PillGothic300mg-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans';
    src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@mixin font-body{
    font-family: 'PT_Sans';
    font-weight: 400;
    font-style: normal;
}

@mixin font-heading-light{
    font-family: 'Pill Gothic 300mg';
    font-weight: 500;
    font-style: normal;
}

@mixin font-heading{
    font-family: 'Pill Gothic 300mg';
    font-weight: 600;
    font-style: normal;
}

@mixin font-heading-semibold{
    font-family: 'Pill Gothic 300mg';
    font-weight: 500;
    font-style: normal;
}

@mixin font-heading-bold{
    font-family: 'Pill Gothic 300mg';
    font-weight: 600;
    font-style: normal;
}

@mixin icon-font{
    font-family: 'Font Awesome';
    font-weight: 500;
    font-style: normal;
}