* {
	position: relative;
}

@mixin underline {
	content:'';
	width: 100%;
    border-bottom: 1px solid $color-yellow;
    height: 1px;
    display: block;
    margin-top: 3px;
    position: absolute;
    width: 100%;
}

@mixin readmore {
	@include font-heading-bold;
	color: $color-grey;
	padding-right: 25px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	
	&::after{
		content:"\f054";
		font-family: "Font Awesome 5 Free";
    	font-weight: 900;
		font-size: 16px;
		right: 0;
	    top: 0px;
	    border-radius: 50%;
	    transition: .3s;
	    border: 2px solid #fff;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    line-height: 25px;
	    margin-left: 10px;
	    display: inline-block;
	}
	&:hover{
		color: $color-primary;
	}
	&.active {
		&::before{
			top: 6px;			
			transform: rotate(-180deg);
		}
	}
}


@mixin regular-button {		
	background-color: $color-grey;
	color: $color-white !important;
	opacity: 1 !important;
	
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	a{
		color: $color-white;
	}
	&:hover {
		text-decoration: none;
		background-color: $color-yellow;
	}	
		
}
a.regular-button, .regular-button{
	@include regular-button;
}