/**
 * grid
 */

$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1440px;

/**
 * responsive
 */

$breakpoints: (
	'xs':	$screen-xs,
	'sm':	$screen-sm,
	'md':	$screen-md,
	'lg':	$screen-lg
);


/*
 * Grid 
 */

$width-container-lg: 960px;
$width-container-md: 960px;
$width-container-sm: 730px;

$grid-padding-lg: 45px;
$grid-padding-sm: 15px;



/**
 * easing
 */

$ease-linear:                     0.3s linear;