
<div class="current-winners-modal slider" data-slick='{"arrows":true,"dots":true,"initialSlide":{{ currentslide }},"autoplay":false,"adaptiveHeight":true}'>
	{% for current_winner in current_winners %}
		{% for winner in current_winner %}
		<div class="slide-wrapper">
			<div class="winner-wrapper {{ winner.winner_year[0].slug }}">
				<div class="winner-header" data-action="modal-close">
					<div class="winner-competition">Winner {{ winner.winner_year[0].slug }} // {{ winner.winner_type[0].name }}</div>
					<div class="winner-entry-name">{{ winner.title }} // {{ winner.entry_location }}</div>
				</div>
				<div class="image-wrapper">
					<img src="{{ Image(winner.thumbnail).src }}" alt="{{ Image(winner.thumbnail).alt }}" />
				</div>
			</div>
		</div>
		{% endfor %}
	{% endfor %}
</div>

{#<pre>{{ dump(data) }}</pre>#}