/* CSS Document */
footer {
	background-color: $color-white;
	color: $color-black;
	min-height: 100px;
	font-size: .875rem;
	@include font-heading;
	display: flex;
    align-items: center;
	
	
	a{
		color:$color-primary;
	}
	
	
	@include breakpoint-lt('xs') {
/*		.container{
			display: none;
		}*/
	}
}
