/* Header mobile */

@include breakpoint-lt('md') {
	header{
		.user-login-toggle{
			position: absolute;
		    top: 0;
		    left: 0;
		    height: 85px;
		    width: 85px;
			background-color: transparent;
			background-image: url('../images/icon-user.png');
			background-size: 27px 30px;
		    background-repeat: no-repeat;
		    background-position: center;
		    display: block;
		}
		.logo-wrapper{
			text-align: center;
		}
		.menu-toggle {
			display: block;
			position: absolute;
			width: 82px;
	    	height: 82px;
			top: 0;
			right: 0;
			cursor: pointer;
			background-color: transparent;
			&::before,
			&::after {
				content: '';
				position: absolute;
				display: block;
				width: 30px;
				top: 25px;
			    left: 50%;
			    transform-origin: center center;
			    transform: translateX(-50%);
				transition: 0.3s;
			}
			&::before {
				height: 23px;
				border: 5px solid $color-violet;
				border-width: 5px 0;
			}
			&::after {
				height: 5px;
				background: $color-violet;
				top: 34px;
			}
		}
		.social-wrapper, .menu-wrapper, .loginform-wrapper {
			display: none;
			padding: 0;
		}
		
		.second-header{
			.container{
				max-width: none;
			}
			.loginform-wrapper{
				background-color: $color-lightest-grey;
				padding: 30px;
				#loginform{
				    flex-direction: column;
				    &:before{
				    	display: none;
				    }
				    >p{
				    	width: 100%;
				    	margin: 0;
				    	margin-bottom: 15px;
				    	.input{
				    		width: 100%;
	    					max-width: none;
							padding: .5rem;
				    	}
				    }
				    #wp-submit{
				    	cursor: pointer;
					    width: 100%;
					    background: none;
					    background-color: $color-violet;
					    color: white;
					    text-transform: uppercase;
					    font-size: 1.26rem;
					    display: block;
					    height: auto;
					    padding: 10px 0;
					    text-indent: 0;
					    font-weight: bold;
				    }
				}
			}
			.menu-wrapper{
				nav {
					position: static;
					transform: none;
					display: block;
					margin: 0px auto;
					
					li {
						margin: 0;
						padding: 0;
						display: block;
						position: relative;
						background-color: $color-lightest-grey;
						a{
							max-width: 360px;
			    			margin: 0 auto;
			    			color: $color-text-header;
			    			font-weight: 600;
							font-size: 1.125rem;
							text-transform: uppercase;
							padding: 10px 0;
						}
						ul {
							position: static;
							width: auto;
							padding: 0;
							background: none;
							margin-left: 0;
						    box-shadow: none;
						    margin: 0;
						    padding-bottom: 10px; 
						    li{
						    	width: 100%;
						    	a{
						    		font-size: 1.125em;
						    		padding: 0;
						    	}
						    }
						}
						&:hover ul {
							display: none;
						}
						&.expanded {
							background-color: $color-violet;
							a{
								color: $color-white;
							}
							ul {
								display: block;
								background-color: $color-violet;
								li{
									background-color: $color-violet;
									a{
										color: $color-white;
									}
								}
							}
						}
					}
					
					.mobile-expander {
						display: block;
					    position: absolute;
					    top: 4px;
					    right: 50%;
					    width: 36px;
					    height: 36px;
					    cursor: pointer;
					    transform: translateX(180px);
						
						&::after {
							content: '';
							display: block;
							width: 12px;
							height: 12px;
							margin: 12px 0 0 12px;
							border: 2px solid $color-violet;
							border-width: 2px 2px 0 0;
							transform: rotate(135deg);
							transition: 0.3s;
						}
					}
					
					.expanded .mobile-expander::after {
						transform: rotate(-45deg);
						border-color: $color-white;
					}
					
					a {
						display: block;
						margin: 0;

						color: #fff;
						font-size: em(24px);
						line-height: (50 / 24);
						padding: 0;

						&.menu-item-has-children {
							/*margin-right: 36px;*/
						}
						
						&::after {
							display: none;
						}
						
						&:hover,
						&.active {
							text-decoration: none;
						}
					}
					
					.current-menu-ancestor > a,
					.current-menu-item > a {
					}
				}
			}
		}
		
		ul a {
			font-size: em(18px);
		}
		

	}
	
	
	body {
		&.mobile-menu-open {
			.menu-toggle {
				background-color: $color-lightest-grey;
				&::before {
					border-width: 5px 0;
					border-color:$color-primary;
				}
				&::after {
					background: $color-primary;
				}
			}
			.menu-wrapper{
				display: block;
			}
		}
		&.user-login-open {
			.user-login-toggle {
				background-color: $color-lightest-grey;
			}
			.loginform-wrapper{
				display: block;
			}
		}
	}
	
}