/* Header */

header {
    top: 0;
    width: 100%;
    .top-header{
    	padding: 20px 0;
    	border-bottom: 1px solid $color-border;
    }
    .social-item {
	    margin-right: 10px;
	    color: $color-grey;
        margin-right: 10px;
	    font-size: 1.5rem;
	    line-height: 1em;
	    top: 2px;
	}
    .btn-call-us{
    	background-color: $color-primary;
    	color: $color-white;
	    font-weight: 600;
	    text-transform: uppercase;
	    display: inline-block;
		padding: 10px 60px 10px;
	    .fa-phone{
	    	transform: scaleX(-1);
	    	font-size: .75em;
    		top: 15px;
   			left: 35px;
   			position: absolute;
	    }
    }
    .second-header{
    	.menu-wrapper{
    		border-right: 1px solid $color-border;;
    		nav{
    			display: flex;
    			justify-content: space-between;
    			> li{
    				display: inline-block;
    				margin: 0;
    				a{
    					display: block;
    					padding: 15px;
					    font-weight: 600;
					    font-size: .875rem;
					    text-transform: uppercase;
                        color: $color-text-header;
    				}
    				&:first-child{
    					a{
    						padding-left: 0;
    					}
    				}
                    ul{
                        position: absolute;
                        z-index: 1;
                        padding: 0;
                        width: 150px;
                        display: none;
                        background-color: white;
                        li{
                            display: inline-block;
                        }
                    }
                    &:hover{
                         ul{
                            display: block;
                         }
                    }
    			}
    		}
    	}
    	.loginform-wrapper{
    		#loginform{
    			display: flex;
   				align-items: center;
    			&:before{    				
    				/*font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";*/
    				content: url('../images/icon-user.png');
    				height: 20px;
    			}
    			> p {
    				display: inline-block;
    				margin: 0;
    				margin-left: 15px;
    				&.login-remember {
					    display: none;
					}
					.input{
						width: 90px;
                        -webkit-appearance: none;
                        border: 1px solid $color-border;
					}
    			}
    			label{
    				display: none;
    			}
    			#wp-submit{
    				width: 26px;
    				height: 26px;
					margin: 0;
					padding: 0;
					border: 0;
					background: transparent url('../images/icon-right-circle.png') no-repeat center top;
					text-indent: -1000em;
					cursor: pointer; /* hand-shaped cursor */
    			}
    		}
    	}
    }
    .mobile-menu-wrapper, .user-login-toggle, .mobile-login-wrapper{
    	display: none;
    }
}

body {
	/*padding-top: 72px;*/
}
