.slider-wrapper {
    padding-bottom: 75px;
    width: 100%;
}
.slide-featured-contents{
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: $color-primary;
    padding: 30px;
    color: $color-white;
    left: 0;
    width: 100%;
    bottom: -35px;
    h2{
        font-size: 2.5rem;
    }
    .readmore{
        color: $color-white !important;
        text-transform: uppercase;
    }
}
.slide-image{
    min-height: 450px;
    background-size: cover;
    background-position: center;
}
.slider-form-wrapper{
    position: absolute;
    bottom: -35px;
    z-index: 1;
    background-color: white;   
}

// Slick Arrow (when used)
.slick-arrow {
    border: none;
    text-indent: -999999px;
    white-space: nowrap;
    overflow: hidden;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 1;
    padding: 15px 20px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-color: transparent;
    }
	&::before {
		content: "\64";
		@include icon-font;
		text-indent: 0;
		color: #fff;
		font-size: 36px;
		line-height: 60px;
		width: 40px;
		height: 60px;
		display: block;
		margin-right: 0;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	
    &.slick-prev{
        left: 20px;
        &::before{
			content: "\64";
        }
    }
    &.slick-next{
        right: 20px;
        &::before{
			content: "\65";
        }
    }
}

// Slick Dots (when used)
.slick-dots {
    position: absolute;
    bottom: 0px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: fit-content;
    right: -100px;
	li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;

			&::before {
				content: '';
				display: block;
				font-family: 'slick';
				position: absolute;
				top: 0;
				left: 0;
				width: 8px;
				height: 8px;
				border: 2px solid $color-grey;
                background-color:  $color-grey;
				border-radius: 50%;
			}
		}
	}

	li.slick-active button::before {
		border: 2px solid $color-primary;
		background: $color-primary;
	}

}

@include breakpoint-lt('md') {

    .slide-image{
        min-height: 250px;
    }
    .slick-dots {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
    }
    .slide-featured-contents{
        margin-bottom:  50px;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    .slide-featured-contents, .slider-form-wrapper{
        position: relative; 
        bottom: initial;   
    }
}