<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ site.charset }}" />
        <title>{{ wp_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="{{assets}}/images/favicon.png" sizes="128x128" />
		<link rel="icon" type="image/png" href="{{assets}}/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{assets}}/images/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        {{ wp_head }}

        {{ 'vendor.min.css' | css_tag }}
        {{ 'app.min.css' | css_tag }}
    </head>
    <body class="{{ body_class }}">
        <header class="header" >
            {% include 'partials/menu.twig' %}
        </header>
        
        {% block content %}
        {% endblock %}
        
		{% block prefooter %}{% endblock %}
		{% include 'partials/footer.twig' %}
		{% include 'partials/modal.twig' %}

        <div class="wp_footer">
            {{ wp_footer }}
        </div>
        
        {{ 'codingChief' | js_global }}
        {{ 'vendor.js' | js_tag }}
        {{ 'app.js' | js_tag }}

    </body>

</html>